{% extends 'scheduler/layout.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2>Register</h2>

    {% if invalidMessage %}
        <div class="alert alert-danger" role="alert">{{ invalidMessage }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password">
        </div>
        <div>
            <table>
                <tr>
                    <th></th>
                    <th>Least Favorite</th>
                    <th>Disliked</th>
                    <th>Neutral</th>
                    <th>Moderately Enjoy</th>
                    <th>Most Favorite</th>
                </tr>
                <tr>
                    <td>Music</td>
                    <td><input type="radio" name="row-1" data-col="1"></td>
                    <td><input type="radio" name="row-1" data-col="2"></td>
                    <td><input type="radio" name="row-1" data-col="3"></td>
                    <td><input type="radio" name="row-1" data-col="4"></td>
                    <td><input type="radio" name="row-1" data-col="5"></td>

                </tr>
                <tr>
                    <td>Visual Arts</td>
                    <td><input type="radio" name="row-2" data-col="1"></td>
                    <td><input type="radio" name="row-2" data-col="2"></td>
                    <td><input type="radio" name="row-2" data-col="3"></td>
                    <td><input type="radio" name="row-2" data-col="4"></td>
                    <td><input type="radio" name="row-2" data-col="5"></td>

                </tr>
                <tr>
                    <td>Performing Arts</td>
                    <td><input type="radio" name="row-3" data-col="1"></td>
                    <td><input type="radio" name="row-3" data-col="2"></td>
                    <td><input type="radio" name="row-3" data-col="3"></td>
                    <td><input type="radio" name="row-3" data-col="4"></td>
                    <td><input type="radio" name="row-3" data-col="5"></td>

                </tr>
                <tr>
                    <td>Film</td>
                    <td><input type="radio" name="row-4" data-col="1"></td>
                    <td><input type="radio" name="row-4" data-col="2"></td>
                    <td><input type="radio" name="row-4" data-col="3"></td>
                    <td><input type="radio" name="row-4" data-col="4"></td>
                    <td><input type="radio" name="row-4" data-col="5"></td>

                </tr>
                <tr>
                    <td>Lectures and books</td>
                    <td><input type="radio" name="row-5" data-col="1"></td>
                    <td><input type="radio" name="row-5" data-col="2"></td>
                    <td><input type="radio" name="row-5" data-col="3"></td>
                    <td><input type="radio" name="row-5" data-col="4"></td>
                    <td><input type="radio" name="row-5" data-col="5"></td>

                </tr>
                <tr>
                    <td>Fashion</td>
                    <td><input type="radio" name="row-6" data-col="1"></td>
                    <td><input type="radio" name="row-6" data-col="2"></td>
                    <td><input type="radio" name="row-6" data-col="3"></td>
                    <td><input type="radio" name="row-6" data-col="4"></td>
                    <td><input type="radio" name="row-6" data-col="5"></td>

                </tr>
                <tr>
                    <td>Food & Drink</td>
                    <td><input type="radio" name="row-7" data-col="1"></td>
                    <td><input type="radio" name="row-7" data-col="2"></td>
                    <td><input type="radio" name="row-7" data-col="3"></td>
                    <td><input type="radio" name="row-7" data-col="4"></td>
                    <td><input type="radio" name="row-7" data-col="5"></td>

                </tr>
                <tr>
                    <td>Festivals & Fairs</td>
                    <td><input type="radio" name="row-8" data-col="1"></td>
                    <td><input type="radio" name="row-8" data-col="2"></td>
                    <td><input type="radio" name="row-8" data-col="3"></td>
                    <td><input type="radio" name="row-8" data-col="4"></td>
                    <td><input type="radio" name="row-8" data-col="5"></td>

                </tr>
                <tr>
                    <td>Charities</td>
                    <td><input type="radio" name="row-9" data-col="1"></td>
                    <td><input type="radio" name="row-9" data-col="2"></td>
                    <td><input type="radio" name="row-9" data-col="3"></td>
                    <td><input type="radio" name="row-9" data-col="4"></td>
                    <td><input type="radio" name="row-9" data-col="5"></td>

                </tr>
                <tr>
                    <td>Sports and Active Life</td>
                    <td><input type="radio" name="row-10" data-col="1"></td>
                    <td><input type="radio" name="row-10" data-col="2"></td>
                    <td><input type="radio" name="row-10" data-col="3"></td>
                    <td><input type="radio" name="row-10" data-col="4"></td>
                    <td><input type="radio" name="row-10" data-col="5"></td>

                </tr>
                <tr>
                    <td>Nightlife</td>
                    <td><input type="radio" name="row-11" data-col="1"></td>
                    <td><input type="radio" name="row-11" data-col="2"></td>
                    <td><input type="radio" name="row-11" data-col="3"></td>
                    <td><input type="radio" name="row-11" data-col="4"></td>
                    <td><input type="radio" name="row-11" data-col="5"></td>

                </tr>
                <tr>
                    <td>Kids and Family</td>
                    <td><input type="radio" name="row-12" data-col="1"></td>
                    <td><input type="radio" name="row-12" data-col="2"></td>
                    <td><input type="radio" name="row-12" data-col="3"></td>
                    <td><input type="radio" name="row-12" data-col="4"></td>
                    <td><input type="radio" name="row-12" data-col="5"></td>

                </tr>
            </table>
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
{% endblock %}

<!-- References:-->
<!-- https://css-tricks.com/radio-buttons-with-2-way-exclusivity/ -->