{% extends 'scheduler/layout.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2>Register</h2>

    {% if invalidMessage %}
        <div class="alert alert-danger" role="alert">{{ invalidMessage }}</div>
    {% endif %}

    <form action = "{% url 'register' %}" method ="post">
        {% csrf_token %}
        {{form.as_ul}}
        <input type="submit">
    </form>


    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
{% endblock %}

<!-- References:-->
<!-- https://css-tricks.com/radio-buttons-with-2-way-exclusivity/ -->