{% extends 'scheduler/layout.html' %}
{% load static %}

{% block title %}EventFul{% endblock %}

{% block body %}
    <h2>Logged in as {{ user.first_name }}</h2>
<form method="POST" action="{% url 'events' %}">
    {% csrf_token %}
    <label for="startTime">Enter a start Date and Time!:</label>
    <input type="datetime-local" id="startTime">
    <br>
    <br>
    <label for="endTime">Enter an end Date and Time!:</label>
    <input type="datetime-local" id="endTime">
    <br>
    <br>
    <label for="address">Enter an address!:</label>
    <input type="text" id="address">
    <br>
    <br>
    <label for="maxCommuteTime">Enter how long you want to travel for!:</label>
    <input type="time" id="maxCommuteTime">
    <br>
    <br>
    <input type="button" value="Find me Events!!">

</form>

{% endblock %}